#header{
background-color: black;
    color: white;
}
body{
    background-color: chocolate
}
p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px
}
.button {
  font: bold 22px italic;
  text-decoration: none;
  background-color: greenyellow;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-align: center;
}